@font-face {
  font-family: "DigitalDream";
  src: url("../fonts/DIGITALDREAMFAT.ttf");
}

#digitalClock {
  box-sizing: border-box;
  position: absolute;
  top: 10%;
  left: 10%;
  height: 70px;
  width: 130px;
  transform: translateX(-50%);
  font-family: "DigitalDream";
  font-size: 15px;
  font-weight: bold;
  color: greenyellow;
  background-color: rgb(128, 128, 128);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  #clockBorder {
    transform: translate(10%, 20%);
    height: 50px;
    width: 106px;
    background-color: #000;
    border-radius: 9px;
    #digits {
      display: inline-block;
      transform: translateY(80%);
    }
  }
}
